.sidebar
  text-align: center;

.sidebar__item
  &:after
    pb static
    sprite $sidebar-item-divider
    margin: 20px auto

.sidebar__item__title
  title 17px
  font-weight: 700
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  margin-bottom: 10px
