.production-types
  container 980px
  position relative
  margin-top: -50px
  background-image: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50px, rgba(255,255,255,0) 100%);
  padding: 20px 20px 3px
  jLine top

  /*shadow*/
  &:before
    p-ctr(x)
    top -5px;
    size 1016px 175px
    img('production-types-shadow.png')
    z-index: -1;



.production-types__item
  size 230px 395px
  background-size cover
  position relative

  text-align: center;
  brand 32px #e5e1df
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(2,3,3,.63);
  text-transform: uppercase;

  for $each in 1..4
    &:nth-child({$each})
      img('production-types-'+$each+'.jpg')

  //pattern
  &:before
    pb(left top)
    size 100%
    img('production-types-item-pattern.png','0 100%')
    background-repeat repeat-x

  //vignette
  &:after
    p-ctr(x)
    bottom 13px
    sprite $production-types-vignette

  a
    absolute left top
    z-index: 1;
    size 100%
    padding-top: 270px
    color inherit
    trans padding

    &,&:hover
      text-decoration: none;

    &:hover
      padding-top: 260px

.production-types__item__small-txt
  display block
  margin-top: 5px
  font-size: 22px



.main-page__news
  width: 460px
  text-align: center;
  color: #bababa;
  font-style: italic;
  font-family: $title-f;

  *
    color inherit !important


.main-page__news__title
  font-style normal
  img('bg-main-page-news-title.png', '50% 18px')
  background-repeat no-repeat
  brand 32px #f1f3f3;

  &:after
    pb()
    position static
    margin 5px auto
    sprite $main-page-news-vignette


.main-page__news__article
  position relative

  &:after
    pb()
    position static
    sprite $main-page-news-divider
    margin 15px auto

  li:last-child &
    &:after
      display none


.main-page__news__article__title
  font-size: 18px
  color: #f1f4f4;

.main-page__news__footer
  margin-top: 15px
  font-size: 15px


.main-page__about-us
  size 427px 326px
  img('bg-main-page-about-us.png')
  text-align: center;
  padding: 20px

  *
    text-shadow: 0 1px 0 rgba(255,255,255,.4);


.main-page__about-us__title
  brand 32px $title-c

  &:after
    pb()
    position static
    margin 5px auto
    sprite $main-page-about-us-vignette