.l-footer
  position: relative;
  img('bg-footer.png')
  padding: 20px 0

  &:before
    pb(left top)
    @extend .pattern-ornament

.l-footer__inner
  container()
  jLine top
  margin-bottom: 30px

  &:last-child
    margin-bottom: 0

.l-footer__column
  position relative
  padding-right: 20px

  .flexbox &
    flex 1

  .no-flexbox &
    width: 25%

.footer-nav
  position relative
  color: #606060;

  *
    text-shadow: 0 1px 0 rgba(255,255,255,.4);

  a
    @extend .link-decorated-reverse
    display block
    padding: 5px 0
    color inherit


.footer-nav__title
  title 18px $brand-c
  margin-bottom: 15px

.social-networks
  hLine(top)


.social-networks__link
  display block
  text-hide()
  pressable()
  margin-right: 5px
  /*transform translateY(25%)*/

$social-networks-types = vk $social-networks-vk,
                         fb $social-networks-fb

for $each in $social-networks-types
  .social-networks__link--{$each[0]}
    sprite $each[1]


.copyright
  color: #606060;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
