.feedback-form
  width: 700px
  padding-bottom: 50px

  label
    margin-bottom: 10px
    &>*
      display block

  input
    margin-top: 2px
    width: 220px

  textarea
    height: 110px


.feedback-form__captcha
  display block
  padding: 5px 0

  input
    width: 135px
    margin-left: 10px

.feedback-form__captcha__body
  hLine middle
  margin: 5px 0