.purchase-info
  position relative

.purchase-info__title
  brand 21px $base-font-c
  margin: 25px 0 15px;

.purchase-info__sub-title
  title 15px $base-font-c
  margin-bottom: 15px

.purchase-info__sidebar
  width: 280px
  float right
  margin: 0 0 $spacer $spacer;

  ul
    list-style-type disc
    padding-left: 20px

.purchase-info__user-data
  label
    display block
    margin-bottom: 15px

  input
    width: 380px

.purchase-info__footer
  margin: 30px 0

.purchase-info__delivery-type
  display block
  hLine()
  margin: 25px 0 10px
  cursor pointer

.purchase-info__delivery-type__label
  font-weight: 700
  font-size: 15px


.purchase-info__payment

  label
    cursor pointer

  &>header
    hLine()
    margin-bottom: 10px

    label
      hLine()
      margin-right: 15px


.purchase-info__serv-info
  margin-top: 10px
  color: #797f7f;



.purchase-info__user-address
  margin: $spacer 0;

.purchase-info__user-address__title
  title 15px $base-font-c
  margin-bottom: 10px

.purchase-info__user-address__body
  .flexbox &
    fLine space-between flex-start

  input
    display block
    margin-top: 2px

.purchase-info__user-address__input--S
  width: 60px;

.purchase-info__user-address__input--L
  width: 180px;