.footer-nav
  position relative
  color: #606060;

  *
    text-shadow: 0 1px 0 rgba(255,255,255,.4);

  a
    @extend .link-decorated-reverse
    display block
    padding: 5px 0
    color inherit


.footer-nav__title
  title 18px $brand-c
  margin-bottom: 15px