// Height and width
$base-max-w              = 960px
$base-min-w              = $base-max-w
$column-secondary-w      = 220px
$column-primary-w        = 720px
$input-h                 = 34px
$header-h                = 110px
$footer-h                = auto
$sticky-footer           = true

// colors
$base-font-c             = #373737
$title-c 		         = #3a3229
$brand-c                 = #b34040
$body-c                  = transparent
$border-c                = transparent
$input-c                 = $base-font-c

// fonts
$base-f-size             = 13px
$base-f-height           = 1.4
$font-face               = false
$base-f                  = 'Open Sans', sans-serif;
$brand-f                 = 'Forum', cursive;
$title-f                 = 'PT Serif', serif;

//path
$font-path               = "../fonts/"
$img-path                = "../img/"

//misc
$spacer                  = 15px
$spacer-L                = ($spacer + 5px)
$spacer-S                = ($spacer - 5px)

$transition-duration     = .4s


/*z index*/
$z-S                     = 1
$z-M                     = 10
$z-L                     = 100
$z-XL                    = 1000
$z-always-visible        = 1000000