<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title></title>
  <!--SEO skeleton-->
  <meta name="robots" content="">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <!--allows ie8 users to use Google Chrome Frame plugin in our browser-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--Analytics include-->	
  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">
  <!--FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <!--CSS include-->
  <link href="assets/css/marilyn-shop-styles.css" rel="stylesheet">
</head>

<body itemscope itemtype='http://schema.org/WebPage'>

<!--HEADER start-->
<header class="l-header">
  <div class="l-header__inner">
    <!--logo-->
    <a class="logo" href="/" itemprop='url'>
      <img src="assets/img/logo.png" alt="" itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
      <span class="logo__hidden" itemprop="name"></span>
    </a>
    <div class="l-hLine--middle">
      <!--address-->
      <address class="address--compact">
        <b class="address__phone">+7 (812) 035 6890</b>
        <a class="address__email" href="#">название@домен.рф</a>
      </address>
      <!--cart-->
      <div class="cart--S">
        <div class="cart__main">
          <h2 class="cart__title">Ваша корзина:</h2>
          <p>Товаров: 12</p>
          <p>Сумма: 134 500 руб.</p>
        </div>
        <a href="#" class="uv-btn--brand  cart__submit"><span>Оформить</span></a>
      </div>
    </div>
  </div>
</header>
<!--HEADER end-->

<!--navigation-->
<nav class="project-nav" role="navigation">
  <ul class="project-nav__list">
    <li class="project-nav__list-item"><a href="#" class="project-nav__link">Главная</a></li>
    <li class="project-nav__list-item"><a href="#" class="project-nav__link">Новости</a></li>
    <li class="project-nav__list-item"><a href="#" class="project-nav__link">Каталог товаров</a></li>
    <li class="project-nav__list-item"><a href="#" class="project-nav__link">Доставка и оплата</a></li>
    <li class="project-nav__list-item"><a href="#" class="project-nav__link">Контакты</a></li>
  </ul>
</nav>
<!--navigation end-->

<!--MAIN start-->
<main class="l-main">

  <!--include "templates/article"-->
  <!--include "templates/articles-list"-->
  <!--include "templates/cart"-->
  <!--include "templates/main"-->
  <!--include "templates/product"-->
  <!--include "templates/product-list"-->
  include "templates/_navigation"

</main>
<!--MAIN end-->

<!--start FOOTER-->
<footer class="l-footer">

  <div class="l-footer__inner">
    <section class="l-footer__column  footer-nav">
      <header>
        <h2 class="footer-nav__title">Информация</h2>
      </header>
      <ul>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Таблица размеров</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </section>

    <section class="l-footer__column  footer-nav">
      <header>
        <h2 class="footer-nav__title">Служба поддержки</h2>
      </header>
      <ul>
        <li><a href="#">Связаться с нами</a></li>
        <li><a href="#">Обмен и возврат товара</a></li>
        <li><a href="#">Карта сайта</a></li>
      </ul>
    </section>

    <section class="l-footer__column  footer-nav">
      <header>
        <h2 class="footer-nav__title">Дополнительно</h2>
      </header>
      <ul>
        <li><a href="#">Производители (бренды)</a></li>
        <li><a href="#">Подарочные сертификаты</a></li>
      </ul>
    </section>

    <section class="l-footer__column  footer-nav">
      <header>
        <h2 class="footer-nav__title">Новинки и акции</h2>
      </header>
      <ul>
        <li><a href="#">Спецпредложения</a></li>
        <li><a href="#">Новинки</a></li>
        <li><a href="#">Популярное</a></li>
      </ul>
    </section>
  </div>

  <div class="l-footer__inner">
    <div class="l-footer__column">
      <small class="copyright">© 2014 Marylin Shop</small>
    </div>
    <div class="l-footer__column">
      <a href="#" class="address__email">название@домен.рф</a>
    </div>
    <div class="l-footer__column"></div>
    <div class="l-footer__column">
      <ul class="social-networks">
        <li><a class="social-networks__link  social-networks__link--vk" href="#" title="Vk">Vk</a></li>
        <li><a class="social-networks__link  social-networks__link--fb" href="#" title="Facebook">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- end FOOTER -->



<!--SCRIPTS  start-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>

<script src="assets/js/marilyn-shop-plugins.min.js"></script>
<script src="assets/js/marilyn-shop-components.min.js"></script>

<script>
  (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
    (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
      l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-XXXXXXXX-XX');
  ga('send', 'pageview');
</script>
<!--SCRIPTS end-->

</body>
</html>
