.product
  position relative

  b
    font-weight: 700;


.product__layout--l
  width: 320px

.product__layout--r
  width: 360px


.product__title
  brand 32px
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  margin-bottom: 15px


.product__size
  margin: 15px 0 20px
  hLine middle

  label
    font-weight: 700
    hLine middle
    margin-right: 15px

  select
    width: 50px
    margin-left: 5px
    font-weight: 700


.product__params
  text-shadow: 0 1px 0 rgba(255,255,255,.4);

  li
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

.product__price
  display block
  margin: 30px 0
  title 17px $base-font-c
  font-weight: 700
  text-shadow: 0 1px 0 rgba(255,255,255,.4);


.product__buy-btn
  margin: 30px 0


.product__share
  hLine middle
  margin-left: -15px

  &>*
    margin-left: 15px

  a
    display block

$product-share-link-types = vk $product-sharing-vk,
                            fb $product-sharing-fb,
                            tw $product-sharing-tw,
                            mm $product-sharing-mm,
                            ya $product-sharing-ya,
                            lj $product-sharing-lj

for $each in $product-share-link-types
  .product__share__link--{$each[0]}
    sprite $each[1]


.product__gallery

  &>*
    margin-bottom: 15px


.product__gallery__photo
  background-color: #fff
  padding: 1px
  box-shadow: 0 0 12px rgba(2,3,3,.15);

  img
    display block
    size 100%


.product__gallery__photo-list--L
  position relative
  size 320px 470px

  .product__gallery__photo
    absolute left top
    size 100%
    padding: 3px
    trans opacity
    opacity 0

    &.is-active
      opacity 1
      z-index 1


.product__gallery__photo-list--S
  jLine()

  .product__gallery__photo
    size 100px
    cursor pointer
    trans box-shadow

    &:hover
      box-shadow none