.address--compact
  position relative

.address__phone
  display block
  brand 26px
  margin-bottom: 5px

.address__email
  title 15px
  &:before
    pi middle
    sprite $icon-mail
    margin-right: 6px


