.main-page__about-us
  size 427px 326px
  img('bg-main-page-about-us.png')
  text-align: center;
  padding: 20px

  *
    text-shadow: 0 1px 0 rgba(255,255,255,.4);


.main-page__about-us__title
  brand 32px

  &:after
    pb()
    position static
    margin 5px auto
    sprite $main-page-about-us-vignette