<nav class="pagination">
  <a class="uv-btn  uv-btn--l  pagination__control" href="#">Предыдущая</a>
  <ul class="pagination__list">
    <li><a class="uv-btn  pagination__btn  is-active" href="#">1</a></li>
    <li><a class="uv-btn  pagination__btn" href="#">2</a></li>
    <li><a class="uv-btn  pagination__btn" href="#">3</a></li>
    <li><a class="uv-btn  pagination__btn" href="#">4</a></li>
    <li><a class="uv-btn  pagination__btn" href="#">5</a></li>
    <li><a class="uv-btn  pagination__btn" href="#">6</a></li>
  </ul>
  <a class="uv-btn  uv-btn--r  pagination__control" href="#">Следующая</a>
</nav>