<!--sidebar-->
<aside class="l-column--secondary  sidebar">

  <section class="sidebar__item  product-catalog">
    <header>
      <h2 class="sidebar__item__title">Каталог товаров</h2>
    </header>
    <ul>
      <li><a href="#">Кожаные куртки</a></li>
      <li><a href="#">Сумки</a></li>
      <li><a href="#">Кожгалантерея</a></li>
      <li><a href="#">Шубы</a></li>
      <li>
        <a href="#">Меховые жилетки</a>
        <ul>
          <li><a href="#">Меховые жилеты из шиншиллового кролика</a></li>
          <li><a href="#" class="is-current">Меховые жилеты из черно-бурой лисы</a></li>
          <li><a href="#">Меховые жилеты из рыжей лисы</a></li>
          <li><a href="#">Норковые жилеты</a></li>
        </ul>
      </li>
      <li><a href="#">Ювелирные украшения</a></li>
      <li><a href="#">Бижутерия</a></li>
    </ul>

  </section>

  <section class="sidebar__item  news-preview">
    <header>
      <h2 class="sidebar__item__title">Новости</h2>
    </header>
    <ul>
      <li>
        <article class="news-preview__article">
          <time>10 Мая 2014</time>
          <h3 class="news-preview__article__title"><a href="#">Новые поступления меховых шуб из норки!</a></h3>
        </article>
      </li>
      <li>
        <article class="news-preview__article">
          <time>10 Мая 2014</time>
          <h3 class="news-preview__article__title"><a href="#">Новые поступления меховых шуб из норки!</a></h3>
        </article>
      </li>
      <li>
        <article class="news-preview__article">
          <time>10 Мая 2014</time>
          <h3 class="news-preview__article__title"><a href="#">Новые поступления меховых шуб из норки!</a></h3>
        </article>
      </li>
    </ul>
    <footer class="news-preview__footer">
      <a href="#">Все новости</a>
    </footer>
  </section>

</aside>