<div class="l-main__inner">

  include "../components/sidebar"

  <!--main column-->
  <div class="l-column--primary">

    include "../components/crumbs"

    <h2 class="main__title">Навигация по проекту</h2>

    <ul style="font-size: 18px;">
      <li><a href="article.html">Article</a></li>
      <li><a href="articles-list.html">Articles list</a></li>
      <li><a href="cart.html">Cart</a></li>
      <li><a href="main.html">Main</a></li>
      <li><a href="product.html">Product</a></li>
      <li><a href="product-list.html">Product list</a></li>
      <li><a href="purchase.html">Purchase</a></li>
      <li><a href="contacts.html">Contacts</a></li>
    </ul>

  </div>

</div>