<div class="main-page__slider">
  <ul class="bjqs">
    <li class="main-page__slider__item" style="background-image: url(assets/img/slider-1.jpg)">
      <div class="main-page__slider__item__inner">
        <div class="l-container">
          <h2 class="main-page__slider__item__title">Заголовок 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at atque cumque deserunt dignissimos distinctio </p>
        </div>
      </div>
    </li>
    <li class="main-page__slider__item" style="background-image: url(assets/img/slider-1.jpg)">
      <div class="main-page__slider__item__inner">
        <div class="l-container">
          <h2 class="main-page__slider__item__title">Заголовок 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at atque cumque deserunt dignissimos distinctio </p>
        </div>
      </div>
    </li>
    </li>
    <li class="main-page__slider__item" style="background-image: url(assets/img/slider-1.jpg)">
      <div class="main-page__slider__item__inner">
        <div class="l-container">
          <h2 class="main-page__slider__item__title">Заголовок 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at atque cumque deserunt dignissimos distinctio </p>
        </div>
      </div>
    </li>
    </li>
    <li class="main-page__slider__item" style="background-image: url(assets/img/slider-1.jpg)">
      <div class="main-page__slider__item__inner">
        <div class="l-container">
          <h2 class="main-page__slider__item__title">Заголовок 4</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at atque cumque deserunt dignissimos distinctio </p>
        </div>
      </div>
    </li>
  </ul>
</div>

<ul class="production-types">
  <li class="production-types__item">
    <a href="#">Кожаные куртки</a>
  </li>
  <li class="production-types__item">
    <a href="#">
      Сумки
      <span class="production-types__item__small-txt">Кожгалантерея</span>
    </a>
  </li>
  <li class="production-types__item">
    <a href="#">
      Шубы
      <span class="production-types__item__small-txt">меховые жилетки</span>
    </a>
  </li>
  <li class="production-types__item">
    <a href="#">Ювелирные украшения</a>
  </li>
</ul>

<section class="uv-section-furs">
  <div class="l-container">
    <header class="uv-bar">
      <h2>Прямые поставки с фабрик!</h2>
    </header>

    <div class="l-jLine--top">

      <section class="main-page__news">
        <header>
          <h2 class="main-page__news__title">Новости</h2>
        </header>
        <ul>
          <li>
            <article class="main-page__news__article">
              <time>10 Мая 2014</time>
              <h3 class="main-page__news__article__title"><a href="#">Новые поступления меховых шуб из норки!</a></h3>
            </article>
          </li>
          <li>
            <article class="main-page__news__article">
              <time>10 Мая 2014</time>
              <h3 class="main-page__news__article__title"><a href="#">Новые поступления меховых шуб из норки!</a></h3>
            </article>
          </li>
          <li>
            <article class="main-page__news__article">
              <time>10 Мая 2014</time>
              <h3 class="main-page__news__article__title"><a href="#">Новые поступления меховых шуб из норки!</a></h3>
            </article>
          </li>
        </ul>
        <footer class="main-page__news__footer">
          <a href="#">Читать все новости</a>
        </footer>
      </section>

      <section class="main-page__about-us">
        <header>
          <h2 class="main-page__about-us__title">Коротко о нас</h2>
        </header>
        <p>Фабрика выпускает традиционную теплую зимнюю обувь, унты из камуса оленя - «Тыс этэрбэс», предназначенную для суровой якутской зимы, где температура воздуха опускается до -50 градусов и более. Это уникальная обувь, сшитая из оленьих лап (камусов). Непременной частью женских унтов является «билэ», расшитое мелким бисером, вышивкой нитью, меховой мозаикой. Подошва унтов подшита войлоком. Унты отличаются высоким качеством и индивидуальностью. Унты разнообразны в своей цветовой гамме: белоснежные, светло-серые, серые, коричневые, элитные темно-коричневые.</p>
      </section>

    </div>
  </div>
</section>