<div class="l-main__inner">

  include "../components/sidebar"

  <!--main column-->
  <div class="l-column--primary">

    include "../components/crumbs"

    <section class="product  product--full">
      <div class="l-jLine--top">
        <aside class="product__layout--l  product__gallery">
          <ul class="product__gallery__photo-list--L">
            <li class="product__gallery__photo  is-active"><img src="http://fakeimg.pl/320x470/?text=320x470(1)"></li>
            <li class="product__gallery__photo"><img src="http://fakeimg.pl/320x470/?text=320x470(2)"></li>
            <li class="product__gallery__photo"><img src="http://fakeimg.pl/320x470/?text=320x470(3)"></li>
          </ul>
          <ul class="product__gallery__photo-list--S">
            <li class="product__gallery__photo"><img src="http://fakeimg.pl/100x100/?text=100x100(1)"></li>
            <li class="product__gallery__photo"><img src="http://fakeimg.pl/100x100/?text=100x100(2)"></li>
            <li class="product__gallery__photo"><img src="http://fakeimg.pl/100x100/?text=100x100(3)"></li>
          </ul>
        </aside>
        <div class="product__layout--r">
          <header>
            <h2 class="product__title">Жилет из меха лисы, 3/4 поп. рукав</h2>
          </header>
          <div class="product__size">
            <label>
              <b>Размер:</b>
              <select>
                <option value="">42</option>
                <option value="">43</option>
                <option value="">44</option>
                <option value="">45</option>
                <option value="">46</option>
                <option value="">47</option>
                <option value="">48</option>
              </select>
            </label>
            <a href="#">Таблица размеров</a>
          </div>
          <ul class="product__params">
            <li>Модель: <b>Жилет из меха лисы, 3/4 поп. рукав (1196)</b></li>
            <li>Производитель: <b>Россия</b></li>
            <li>Длина: <b>70 см.</b></li>
            <li>Размер: <b>42-48</b></li>
            <li>Рост модели: <b>174 см</b></li>
            <li>Тип застежки: <b>молния</b></li>
          </ul>
          <b class="product__price">Цена: 135 000 руб.</b>
          <div class="product__buy-btn">
            <a href="#" class="uv-btn"><span>В корзину</span></a>
          </div>

          <ul class="product__share">
            <li>Поделиться:</li>
            <li><a href="#" class="product__share__link--vk" title="Вконтакте"></a></li>
            <li><a href="#" class="product__share__link--fb" title="Facebook"></a></li>
            <li><a href="#" class="product__share__link--tw" title="Twitter"></a></li>
            <li><a href="#" class="product__share__link--mm" title="Мой мир"></a></li>
            <li><a href="#" class="product__share__link--ya" title="Яндекс"></a></li>
            <li><a href="#" class="product__share__link--lj" title="LiveJournal"></a></li>
          </ul>
        </div>
      </div>

      <footer>

        <div class="uv-tabs">

          <ul class="uv-tabs__nav">
            <li><a href="#">Описание</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата и возврат</a></li>
            <li><a href="#">Отзывы</a></li>
          </ul>

          <ul content="uv-tabs__item-wrap">
            <li class="uv-tabs__item">
              <b>1</b>
              Жилет из яркого лисьего меха, отличный осенне-зимний вариант! Изделие удлинённое, с высоким воротником-стойкой. Имеет втачной полуоблегающий рукав длины 3/4. Жилет выполнен из цельных поперечных шкур лисы, застёгивается на золотистую молнию, обрамлённую натуральной замшей. Модель дополняет замшевый широкий поясок песочного-рыжего оттенка. Также имеются втачные кармашки, которые незаметны под слоем пышного меха.  Жилет гармонично сочетается с брючным низом и водолазками.
            </li>
            <li class="uv-tabs__item">
              <b>2</b>
              Жилет из яркого лисьего меха, отличный осенне-зимний вариант! Изделие удлинённое, с высоким воротником-стойкой. Имеет втачной полуоблегающий рукав длины 3/4. Жилет выполнен из цельных поперечных шкур лисы, застёгивается на золотистую молнию, обрамлённую натуральной замшей. Модель дополняет замшевый широкий поясок песочного-рыжего оттенка. Также имеются втачные кармашки, которые незаметны под слоем пышного меха.  Жилет гармонично сочетается с брючным низом и водолазками.
              Жилет из яркого лисьего меха, отличный осенне-зимний вариант! Изделие удлинённое, с высоким воротником-стойкой. Имеет втачной полуоблегающий рукав длины 3/4. Жилет выполнен из цельных поперечных шкур лисы, застёгивается на золотистую молнию, обрамлённую натуральной замшей. Модель дополняет замшевый широкий поясок песочного-рыжего оттенка. Также имеются втачные кармашки, которые незаметны под слоем пышного меха.  Жилет гармонично сочетается с брючным низом и водолазками.
            </li>
            <li class="uv-tabs__item">
              <b>3</b>
              Жилет из яркого лисьего меха, отличный осенне-зимний вариант! Изделие удлинённое, с высоким воротником-стойкой. Имеет втачной полуоблегающий рукав длины 3/4. Жилет выполнен из цельных поперечных шкур лисы, застёгивается на золотистую молнию, обрамлённую натуральной замшей. Модель дополняет замшевый широкий поясок песочного-рыжего оттенка. Также имеются втачные кармашки, которые незаметны под слоем пышного меха.  Жилет гармонично сочетается с брючным низом и водолазками.
            </li>
            <li class="uv-tabs__item">
              <b>4</b>
              Жилет из яркого лисьего меха, отличный осенне-зимний вариант! Изделие удлинённое, с высоким воротником-стойкой. Имеет втачной полуоблегающий рукав длины 3/4. Жилет выполнен из цельных поперечных шкур лисы, застёгивается на золотистую молнию, обрамлённую натуральной замшей. Модель дополняет замшевый широкий поясок песочного-рыжего оттенка. Также имеются втачные кармашки, которые незаметны под слоем пышного меха.  Жилет гармонично сочетается с брючным низом и водолазками.
              Жилет из яркого лисьего меха, отличный осенне-зимний вариант! Изделие удлинённое, с высоким воротником-стойкой. Имеет втачной полуоблегающий рукав длины 3/4. Жилет выполнен из цельных поперечных шкур лисы, застёгивается на золотистую молнию, обрамлённую натуральной замшей. Модель дополняет замшевый широкий поясок песочного-рыжего оттенка. Также имеются втачные кармашки, которые незаметны под слоем пышного меха.  Жилет гармонично сочетается с брючным низом и водолазками.
            </li>
          </ul>
        </div>

        <a href="#" class="uv-btn--back">Вернуться к списку товаров</a>

      </footer>

    </section>

  </div>

</div>