<div class="l-main__inner">

  include "../components/sidebar"

  <!--main column-->
  <div class="l-column--primary">

    include "../components/crumbs"

    <section>
      <header>
        <h2 class="main__title">Меховые жилетки</h2>

        <div class="uv-tabs  filter">

          <ul class="uv-tabs__nav  filter__nav">
            <li><b>Сортировать по:</b></li>
            <li><a href="#">Названию</a></li>
            <li><a href="#">Цене</a></li>
          </ul>

          <ul>
            <li class="uv-tabs__item">
              <div class="l-jLine">
                <div class="l-hLine">
                  <b>Размеры:</b>
                  <ul class="filter__options-list">
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>42</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>44</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>46</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>48</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>50</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>52</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>54</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>56</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"/>
                        <span>58</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <label class="filter__option--visible-on-page">
                  <b>На странице</b>
                  <select>
                    <option value="">10</option>
                    <option value="">50</option>
                    <option value="">100</option>
                  </select>
                </label>
              </div>
            </li>
            <li class="uv-tabs__item">
              2
            </li>
          </ul>
        </div>

      </header>

      <ul class="product-list">
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха серебристо-черной лисы</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха серебристо-черной лисы</a></h3>
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха</a></h3>
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха серебристо-черной лисы</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха серебристо-черной лисы</a></h3>
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха</a></h3>
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха серебристо-черной лисы</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха серебристо-черной лисы</a></h3>
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li>
          <article class="product  product--S">
            <img class="product__photo" src="http://fakeimg.pl/220x320/?text=220x320">
            <div class="product__main">
              <h3 class="product__title"><a href="#">Шуба из меха</a></h3>
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="product__footer">
                <b class="product__price">135 000 руб.</b>
                <div class="product__buy-btn">
                  <a href="#" class="uv-btn--brand"><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <footer>

        include "../components/pagination"

        <br/>
        <br/>

        <article>
          <header>
            <h2 class="main__title">Жилет из меха чернобурки</h2>
          </header>
          <p>Меховые жилеты приобрели необычайную популярность несколько лет назад, хотя особо они никогда из моды и не выходили. И первым подобным аксессуаром обзавелись еще наши прапращуры, обитавшие в пещерах. Это совсем не удивительно, ведь натуральный мех - самая теплая одежда. Сегодня, при виде изящных женских силуэтов, закутанных в жилетки из меха чернобурки,  ассоциации с древними людьми никого не посещают, скорее мы вспоминаем царственных особ и приближенных к ним особ. Вы решили купить себе жилет из чернобурки, чтобы выглядеть по-королевски? Тогда научитесь определять качество меха и выбирать подходящий фасон.</p>
        </article>
      </footer>

    </section>

  </div>

</div>