*,*:before,*:after
  box-sizing: border-box

html, button, input, select, textarea
  font-family: $base-f
  color: $base-font-c

body
  font-size: $base-f-size
  line-height: $base-f-height
  background-color: $body-c
  img('bg-body.png')


input,textarea
  height: $input-h
  padding 0 10px
  font-size: 14px
  font-weight: 700
  border: #bababa;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.12);


textarea
  vertical-align: top
  resize: none

button
  border: none
  background-color: transparent


label
  [type=checkbox]
    display none

    &:checked ~ span:after
      pb(left 3px top 5px)
      size 8px
      border-radius: 50%
      opacity: .6;
      background-color: #b44040;
      background-image: linear-gradient(top, rgba(255,255,255,.29) 0%, rgba(255,255,255,0) 100%);

  span
    cursor pointer
    position relative
    &:before
      pi(middle)
      transform translateY(-2px)
      size 14px
      margin-right: 2px
      border: #bababa;
      border-radius: 1px;
      background-color: #fff;
      box-shadow: inset 0 3px 7px rgba(0,0,0,.12);






a
  color: $title-c
  @extend .link-decorated
  &:focus
    outline 1px dotted @color
