/*--------------------------------------
    Some useful classes
--------------------------------------*/
.l-hLine
  hLine()

.l-jLine
  jLine()

for $i in bottom middle top float
  .l-hLine--{$i}
    hLine($i)
  .l-jLine--{$i}
    jLine($i)


.l-container
  container()

.hide-text, .text-hide
  hide-text()

ul.list-reset, ul.reset-list
ol.list-reset, ol.reset-list
  reset-box-model()
  list-style-type none
  list-style-image none
  li
    reset-box-model()

    
.reset
  reset-box-model()

.reset-font, .font-reset
  reset-font()

.link-decorated
  text-decoration: underline
  &:hover,&:focus
    text-decoration: none

.link-decorated-reverse
  text-decoration: none
  &:hover,&:focus
    text-decoration: underline

.is-shown
  visibility visible !important
  position relative !important

.is-hidden
  visibility hidden !important
  position absolute !important

.is-error
  small&
    color: #e34f59 !important
    font-size: 11px !important
    position absolute !important

  input&
    border #e34f59 !important

.pattern-ornament
  size 100% 7px
  img('pattern-ornament.png')

.border-custom
  size 100% 3px
  background-color: #8c8d8d;
  border-top: 1px solid #b7b7b8
  border-bottom: 1px solid #707273