.l-column--primary
  width: $column-primary-w

.l-column--primary
  width $column-secondary-w


if $sticky-footer == true
  .flexbox.cssvhunit &
    body
      display flex
      flex-direction column
      min-height 100vh

    .l-main
      flex 1