$bar-txt-after_x = 81px;
$bar-txt-after_y = 56px;
$bar-txt-after_offset_x = -81px;
$bar-txt-after_offset_y = -56px;
$bar-txt-after_width = 31px;
$bar-txt-after_height = 11px;
$bar-txt-after_total_width = 150px;
$bar-txt-after_total_height = 83px;
$bar-txt-after_image = '../img/marilyn-shop-sprite.png';
$bar-txt-after = 81px 56px -81px -56px 31px 11px 150px 83px '../img/marilyn-shop-sprite.png';
$bar-txt-before_x = 114px;
$bar-txt-before_y = 56px;
$bar-txt-before_offset_x = -114px;
$bar-txt-before_offset_y = -56px;
$bar-txt-before_width = 31px;
$bar-txt-before_height = 11px;
$bar-txt-before_total_width = 150px;
$bar-txt-before_total_height = 83px;
$bar-txt-before_image = '../img/marilyn-shop-sprite.png';
$bar-txt-before = 114px 56px -114px -56px 31px 11px 150px 83px '../img/marilyn-shop-sprite.png';
$cart-compact-brdr_x = 0px;
$cart-compact-brdr_y = 0px;
$cart-compact-brdr_offset_x = 0px;
$cart-compact-brdr_offset_y = 0px;
$cart-compact-brdr_width = 7px;
$cart-compact-brdr_height = 83px;
$cart-compact-brdr_total_width = 150px;
$cart-compact-brdr_total_height = 83px;
$cart-compact-brdr_image = '../img/marilyn-shop-sprite.png';
$cart-compact-brdr = 0px 0px 0px 0px 7px 83px 150px 83px '../img/marilyn-shop-sprite.png';
$icon-mail_x = 63px;
$icon-mail_y = 56px;
$icon-mail_offset_x = -63px;
$icon-mail_offset_y = -56px;
$icon-mail_width = 16px;
$icon-mail_height = 12px;
$icon-mail_total_width = 150px;
$icon-mail_total_height = 83px;
$icon-mail_image = '../img/marilyn-shop-sprite.png';
$icon-mail = 63px 56px -63px -56px 16px 12px 150px 83px '../img/marilyn-shop-sprite.png';
$main-page-about-us-vignette_x = 9px;
$main-page-about-us-vignette_y = 29px;
$main-page-about-us-vignette_offset_x = -9px;
$main-page-about-us-vignette_offset_y = -29px;
$main-page-about-us-vignette_width = 63px;
$main-page-about-us-vignette_height = 25px;
$main-page-about-us-vignette_total_width = 150px;
$main-page-about-us-vignette_total_height = 83px;
$main-page-about-us-vignette_image = '../img/marilyn-shop-sprite.png';
$main-page-about-us-vignette = 9px 29px -9px -29px 63px 25px 150px 83px '../img/marilyn-shop-sprite.png';
$main-page-news-divider_x = 63px;
$main-page-news-divider_y = 70px;
$main-page-news-divider_offset_x = -63px;
$main-page-news-divider_offset_y = -70px;
$main-page-news-divider_width = 70px;
$main-page-news-divider_height = 8px;
$main-page-news-divider_total_width = 150px;
$main-page-news-divider_total_height = 83px;
$main-page-news-divider_image = '../img/marilyn-shop-sprite.png';
$main-page-news-divider = 63px 70px -63px -70px 70px 8px 150px 83px '../img/marilyn-shop-sprite.png';
$main-page-news-vignette_x = 74px;
$main-page-news-vignette_y = 29px;
$main-page-news-vignette_offset_x = -74px;
$main-page-news-vignette_offset_y = -29px;
$main-page-news-vignette_width = 63px;
$main-page-news-vignette_height = 25px;
$main-page-news-vignette_total_width = 150px;
$main-page-news-vignette_total_height = 83px;
$main-page-news-vignette_image = '../img/marilyn-shop-sprite.png';
$main-page-news-vignette = 74px 29px -74px -29px 63px 25px 150px 83px '../img/marilyn-shop-sprite.png';
$production-types-vignette_x = 9px;
$production-types-vignette_y = 0px;
$production-types-vignette_offset_x = -9px;
$production-types-vignette_offset_y = 0px;
$production-types-vignette_width = 141px;
$production-types-vignette_height = 27px;
$production-types-vignette_total_width = 150px;
$production-types-vignette_total_height = 83px;
$production-types-vignette_image = '../img/marilyn-shop-sprite.png';
$production-types-vignette = 9px 0px -9px 0px 141px 27px 150px 83px '../img/marilyn-shop-sprite.png';
$social-networks-fb_x = 9px;
$social-networks-fb_y = 56px;
$social-networks-fb_offset_x = -9px;
$social-networks-fb_offset_y = -56px;
$social-networks-fb_width = 25px;
$social-networks-fb_height = 25px;
$social-networks-fb_total_width = 150px;
$social-networks-fb_total_height = 83px;
$social-networks-fb_image = '../img/marilyn-shop-sprite.png';
$social-networks-fb = 9px 56px -9px -56px 25px 25px 150px 83px '../img/marilyn-shop-sprite.png';
$social-networks-vk_x = 36px;
$social-networks-vk_y = 56px;
$social-networks-vk_offset_x = -36px;
$social-networks-vk_offset_y = -56px;
$social-networks-vk_width = 25px;
$social-networks-vk_height = 25px;
$social-networks-vk_total_width = 150px;
$social-networks-vk_total_height = 83px;
$social-networks-vk_image = '../img/marilyn-shop-sprite.png';
$social-networks-vk = 36px 56px -36px -56px 25px 25px 150px 83px '../img/marilyn-shop-sprite.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
