$bar-txt-after_x = 63px;
$bar-txt-after_y = 29px;
$bar-txt-after_offset_x = -63px;
$bar-txt-after_offset_y = -29px;
$bar-txt-after_width = 31px;
$bar-txt-after_height = 11px;
$bar-txt-after_total_width = 311px;
$bar-txt-after_total_height = 83px;
$bar-txt-after_image = '../img/marilyn-shop-sprite.png';
$bar-txt-after = 63px 29px -63px -29px 31px 11px 311px 83px '../img/marilyn-shop-sprite.png';
$bar-txt-before_x = 280px;
$bar-txt-before_y = 54px;
$bar-txt-before_offset_x = -280px;
$bar-txt-before_offset_y = -54px;
$bar-txt-before_width = 31px;
$bar-txt-before_height = 11px;
$bar-txt-before_total_width = 311px;
$bar-txt-before_total_height = 83px;
$bar-txt-before_image = '../img/marilyn-shop-sprite.png';
$bar-txt-before = 280px 54px -280px -54px 31px 11px 311px 83px '../img/marilyn-shop-sprite.png';
$btn-back_x = 96px;
$btn-back_y = 29px;
$btn-back_offset_x = -96px;
$btn-back_offset_y = -29px;
$btn-back_width = 5px;
$btn-back_height = 9px;
$btn-back_total_width = 311px;
$btn-back_total_height = 83px;
$btn-back_image = '../img/marilyn-shop-sprite.png';
$btn-back = 96px 29px -96px -29px 5px 9px 311px 83px '../img/marilyn-shop-sprite.png';
$cart-compact-brdr_x = 0px;
$cart-compact-brdr_y = 0px;
$cart-compact-brdr_offset_x = 0px;
$cart-compact-brdr_offset_y = 0px;
$cart-compact-brdr_width = 7px;
$cart-compact-brdr_height = 83px;
$cart-compact-brdr_total_width = 311px;
$cart-compact-brdr_total_height = 83px;
$cart-compact-brdr_image = '../img/marilyn-shop-sprite.png';
$cart-compact-brdr = 0px 0px 0px 0px 7px 83px 311px 83px '../img/marilyn-shop-sprite.png';
$catalog-item-divider_x = 9px;
$catalog-item-divider_y = 56px;
$catalog-item-divider_offset_x = -9px;
$catalog-item-divider_offset_y = -56px;
$catalog-item-divider_width = 70px;
$catalog-item-divider_height = 8px;
$catalog-item-divider_total_width = 311px;
$catalog-item-divider_total_height = 83px;
$catalog-item-divider_image = '../img/marilyn-shop-sprite.png';
$catalog-item-divider = 9px 56px -9px -56px 70px 8px 311px 83px '../img/marilyn-shop-sprite.png';
$crumbs-divider_x = 304px;
$crumbs-divider_y = 27px;
$crumbs-divider_offset_x = -304px;
$crumbs-divider_offset_y = -27px;
$crumbs-divider_width = 6px;
$crumbs-divider_height = 12px;
$crumbs-divider_total_width = 311px;
$crumbs-divider_total_height = 83px;
$crumbs-divider_image = '../img/marilyn-shop-sprite.png';
$crumbs-divider = 304px 27px -304px -27px 6px 12px 311px 83px '../img/marilyn-shop-sprite.png';
$icon-mail_x = 262px;
$icon-mail_y = 54px;
$icon-mail_offset_x = -262px;
$icon-mail_offset_y = -54px;
$icon-mail_width = 16px;
$icon-mail_height = 12px;
$icon-mail_total_width = 311px;
$icon-mail_total_height = 83px;
$icon-mail_image = '../img/marilyn-shop-sprite.png';
$icon-mail = 262px 54px -262px -54px 16px 12px 311px 83px '../img/marilyn-shop-sprite.png';
$main-page-about-us-vignette_x = 152px;
$main-page-about-us-vignette_y = 27px;
$main-page-about-us-vignette_offset_x = -152px;
$main-page-about-us-vignette_offset_y = -27px;
$main-page-about-us-vignette_width = 63px;
$main-page-about-us-vignette_height = 25px;
$main-page-about-us-vignette_total_width = 311px;
$main-page-about-us-vignette_total_height = 83px;
$main-page-about-us-vignette_image = '../img/marilyn-shop-sprite.png';
$main-page-about-us-vignette = 152px 27px -152px -27px 63px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$main-page-news-divider_x = 63px;
$main-page-news-divider_y = 42px;
$main-page-news-divider_offset_x = -63px;
$main-page-news-divider_offset_y = -42px;
$main-page-news-divider_width = 70px;
$main-page-news-divider_height = 8px;
$main-page-news-divider_total_width = 311px;
$main-page-news-divider_total_height = 83px;
$main-page-news-divider_image = '../img/marilyn-shop-sprite.png';
$main-page-news-divider = 63px 42px -63px -42px 70px 8px 311px 83px '../img/marilyn-shop-sprite.png';
$main-page-news-vignette_x = 217px;
$main-page-news-vignette_y = 27px;
$main-page-news-vignette_offset_x = -217px;
$main-page-news-vignette_offset_y = -27px;
$main-page-news-vignette_width = 63px;
$main-page-news-vignette_height = 25px;
$main-page-news-vignette_total_width = 311px;
$main-page-news-vignette_total_height = 83px;
$main-page-news-vignette_image = '../img/marilyn-shop-sprite.png';
$main-page-news-vignette = 217px 27px -217px -27px 63px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$product-sharing-fb_x = 282px;
$product-sharing-fb_y = 27px;
$product-sharing-fb_offset_x = -282px;
$product-sharing-fb_offset_y = -27px;
$product-sharing-fb_width = 20px;
$product-sharing-fb_height = 20px;
$product-sharing-fb_total_width = 311px;
$product-sharing-fb_total_height = 83px;
$product-sharing-fb_image = '../img/marilyn-shop-sprite.png';
$product-sharing-fb = 282px 27px -282px -27px 20px 20px 311px 83px '../img/marilyn-shop-sprite.png';
$product-sharing-lj_x = 218px;
$product-sharing-lj_y = 54px;
$product-sharing-lj_offset_x = -218px;
$product-sharing-lj_offset_y = -54px;
$product-sharing-lj_width = 20px;
$product-sharing-lj_height = 20px;
$product-sharing-lj_total_width = 311px;
$product-sharing-lj_total_height = 83px;
$product-sharing-lj_image = '../img/marilyn-shop-sprite.png';
$product-sharing-lj = 218px 54px -218px -54px 20px 20px 311px 83px '../img/marilyn-shop-sprite.png';
$product-sharing-mm_x = 240px;
$product-sharing-mm_y = 54px;
$product-sharing-mm_offset_x = -240px;
$product-sharing-mm_offset_y = -54px;
$product-sharing-mm_width = 20px;
$product-sharing-mm_height = 20px;
$product-sharing-mm_total_width = 311px;
$product-sharing-mm_total_height = 83px;
$product-sharing-mm_image = '../img/marilyn-shop-sprite.png';
$product-sharing-mm = 240px 54px -240px -54px 20px 20px 311px 83px '../img/marilyn-shop-sprite.png';
$product-sharing-tw_x = 196px;
$product-sharing-tw_y = 54px;
$product-sharing-tw_offset_x = -196px;
$product-sharing-tw_offset_y = -54px;
$product-sharing-tw_width = 20px;
$product-sharing-tw_height = 20px;
$product-sharing-tw_total_width = 311px;
$product-sharing-tw_total_height = 83px;
$product-sharing-tw_image = '../img/marilyn-shop-sprite.png';
$product-sharing-tw = 196px 54px -196px -54px 20px 20px 311px 83px '../img/marilyn-shop-sprite.png';
$product-sharing-vk_x = 152px;
$product-sharing-vk_y = 54px;
$product-sharing-vk_offset_x = -152px;
$product-sharing-vk_offset_y = -54px;
$product-sharing-vk_width = 20px;
$product-sharing-vk_height = 20px;
$product-sharing-vk_total_width = 311px;
$product-sharing-vk_total_height = 83px;
$product-sharing-vk_image = '../img/marilyn-shop-sprite.png';
$product-sharing-vk = 152px 54px -152px -54px 20px 20px 311px 83px '../img/marilyn-shop-sprite.png';
$product-sharing-ya_x = 174px;
$product-sharing-ya_y = 54px;
$product-sharing-ya_offset_x = -174px;
$product-sharing-ya_offset_y = -54px;
$product-sharing-ya_width = 20px;
$product-sharing-ya_height = 20px;
$product-sharing-ya_total_width = 311px;
$product-sharing-ya_total_height = 83px;
$product-sharing-ya_image = '../img/marilyn-shop-sprite.png';
$product-sharing-ya = 174px 54px -174px -54px 20px 20px 311px 83px '../img/marilyn-shop-sprite.png';
$production-types-vignette_x = 9px;
$production-types-vignette_y = 0px;
$production-types-vignette_offset_x = -9px;
$production-types-vignette_offset_y = 0px;
$production-types-vignette_width = 141px;
$production-types-vignette_height = 27px;
$production-types-vignette_total_width = 311px;
$production-types-vignette_total_height = 83px;
$production-types-vignette_image = '../img/marilyn-shop-sprite.png';
$production-types-vignette = 9px 0px -9px 0px 141px 27px 311px 83px '../img/marilyn-shop-sprite.png';
$sidebar-item-divider_x = 152px;
$sidebar-item-divider_y = 0px;
$sidebar-item-divider_offset_x = -152px;
$sidebar-item-divider_offset_y = 0px;
$sidebar-item-divider_width = 159px;
$sidebar-item-divider_height = 25px;
$sidebar-item-divider_total_width = 311px;
$sidebar-item-divider_total_height = 83px;
$sidebar-item-divider_image = '../img/marilyn-shop-sprite.png';
$sidebar-item-divider = 152px 0px -152px 0px 159px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$social-networks-fb_x = 36px;
$social-networks-fb_y = 29px;
$social-networks-fb_offset_x = -36px;
$social-networks-fb_offset_y = -29px;
$social-networks-fb_width = 25px;
$social-networks-fb_height = 25px;
$social-networks-fb_total_width = 311px;
$social-networks-fb_total_height = 83px;
$social-networks-fb_image = '../img/marilyn-shop-sprite.png';
$social-networks-fb = 36px 29px -36px -29px 25px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$social-networks-vk_x = 9px;
$social-networks-vk_y = 29px;
$social-networks-vk_offset_x = -9px;
$social-networks-vk_offset_y = -29px;
$social-networks-vk_width = 25px;
$social-networks-vk_height = 25px;
$social-networks-vk_total_width = 311px;
$social-networks-vk_total_height = 83px;
$social-networks-vk_image = '../img/marilyn-shop-sprite.png';
$social-networks-vk = 9px 29px -9px -29px 25px 25px 311px 83px '../img/marilyn-shop-sprite.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
