$bar-txt-after_x = 203px;
$bar-txt-after_y = 27px;
$bar-txt-after_offset_x = -203px;
$bar-txt-after_offset_y = -27px;
$bar-txt-after_width = 31px;
$bar-txt-after_height = 11px;
$bar-txt-after_total_width = 311px;
$bar-txt-after_total_height = 83px;
$bar-txt-after_image = '../img/marilyn-shop-sprite.png';
$bar-txt-after = 203px 27px -203px -27px 31px 11px 311px 83px '../img/marilyn-shop-sprite.png';
$bar-txt-before_x = 170px;
$bar-txt-before_y = 27px;
$bar-txt-before_offset_x = -170px;
$bar-txt-before_offset_y = -27px;
$bar-txt-before_width = 31px;
$bar-txt-before_height = 11px;
$bar-txt-before_total_width = 311px;
$bar-txt-before_total_height = 83px;
$bar-txt-before_image = '../img/marilyn-shop-sprite.png';
$bar-txt-before = 170px 27px -170px -27px 31px 11px 311px 83px '../img/marilyn-shop-sprite.png';
$cart-compact-brdr_x = 0px;
$cart-compact-brdr_y = 0px;
$cart-compact-brdr_offset_x = 0px;
$cart-compact-brdr_offset_y = 0px;
$cart-compact-brdr_width = 7px;
$cart-compact-brdr_height = 83px;
$cart-compact-brdr_total_width = 311px;
$cart-compact-brdr_total_height = 83px;
$cart-compact-brdr_image = '../img/marilyn-shop-sprite.png';
$cart-compact-brdr = 0px 0px 0px 0px 7px 83px 311px 83px '../img/marilyn-shop-sprite.png';
$catalog-item-divider_x = 236px;
$catalog-item-divider_y = 27px;
$catalog-item-divider_offset_x = -236px;
$catalog-item-divider_offset_y = -27px;
$catalog-item-divider_width = 70px;
$catalog-item-divider_height = 8px;
$catalog-item-divider_total_width = 311px;
$catalog-item-divider_total_height = 83px;
$catalog-item-divider_image = '../img/marilyn-shop-sprite.png';
$catalog-item-divider = 236px 27px -236px -27px 70px 8px 311px 83px '../img/marilyn-shop-sprite.png';
$icon-mail_x = 152px;
$icon-mail_y = 27px;
$icon-mail_offset_x = -152px;
$icon-mail_offset_y = -27px;
$icon-mail_width = 16px;
$icon-mail_height = 12px;
$icon-mail_total_width = 311px;
$icon-mail_total_height = 83px;
$icon-mail_image = '../img/marilyn-shop-sprite.png';
$icon-mail = 152px 27px -152px -27px 16px 12px 311px 83px '../img/marilyn-shop-sprite.png';
$main-page-about-us-vignette_x = 63px;
$main-page-about-us-vignette_y = 29px;
$main-page-about-us-vignette_offset_x = -63px;
$main-page-about-us-vignette_offset_y = -29px;
$main-page-about-us-vignette_width = 63px;
$main-page-about-us-vignette_height = 25px;
$main-page-about-us-vignette_total_width = 311px;
$main-page-about-us-vignette_total_height = 83px;
$main-page-about-us-vignette_image = '../img/marilyn-shop-sprite.png';
$main-page-about-us-vignette = 63px 29px -63px -29px 63px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$main-page-news-divider_x = 152px;
$main-page-news-divider_y = 41px;
$main-page-news-divider_offset_x = -152px;
$main-page-news-divider_offset_y = -41px;
$main-page-news-divider_width = 70px;
$main-page-news-divider_height = 8px;
$main-page-news-divider_total_width = 311px;
$main-page-news-divider_total_height = 83px;
$main-page-news-divider_image = '../img/marilyn-shop-sprite.png';
$main-page-news-divider = 152px 41px -152px -41px 70px 8px 311px 83px '../img/marilyn-shop-sprite.png';
$main-page-news-vignette_x = 9px;
$main-page-news-vignette_y = 56px;
$main-page-news-vignette_offset_x = -9px;
$main-page-news-vignette_offset_y = -56px;
$main-page-news-vignette_width = 63px;
$main-page-news-vignette_height = 25px;
$main-page-news-vignette_total_width = 311px;
$main-page-news-vignette_total_height = 83px;
$main-page-news-vignette_image = '../img/marilyn-shop-sprite.png';
$main-page-news-vignette = 9px 56px -9px -56px 63px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$production-types-vignette_x = 9px;
$production-types-vignette_y = 0px;
$production-types-vignette_offset_x = -9px;
$production-types-vignette_offset_y = 0px;
$production-types-vignette_width = 141px;
$production-types-vignette_height = 27px;
$production-types-vignette_total_width = 311px;
$production-types-vignette_total_height = 83px;
$production-types-vignette_image = '../img/marilyn-shop-sprite.png';
$production-types-vignette = 9px 0px -9px 0px 141px 27px 311px 83px '../img/marilyn-shop-sprite.png';
$sidebar-item-divider_x = 152px;
$sidebar-item-divider_y = 0px;
$sidebar-item-divider_offset_x = -152px;
$sidebar-item-divider_offset_y = 0px;
$sidebar-item-divider_width = 159px;
$sidebar-item-divider_height = 25px;
$sidebar-item-divider_total_width = 311px;
$sidebar-item-divider_total_height = 83px;
$sidebar-item-divider_image = '../img/marilyn-shop-sprite.png';
$sidebar-item-divider = 152px 0px -152px 0px 159px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$social-networks-fb_x = 36px;
$social-networks-fb_y = 29px;
$social-networks-fb_offset_x = -36px;
$social-networks-fb_offset_y = -29px;
$social-networks-fb_width = 25px;
$social-networks-fb_height = 25px;
$social-networks-fb_total_width = 311px;
$social-networks-fb_total_height = 83px;
$social-networks-fb_image = '../img/marilyn-shop-sprite.png';
$social-networks-fb = 36px 29px -36px -29px 25px 25px 311px 83px '../img/marilyn-shop-sprite.png';
$social-networks-vk_x = 9px;
$social-networks-vk_y = 29px;
$social-networks-vk_offset_x = -9px;
$social-networks-vk_offset_y = -29px;
$social-networks-vk_width = 25px;
$social-networks-vk_height = 25px;
$social-networks-vk_total_width = 311px;
$social-networks-vk_total_height = 83px;
$social-networks-vk_image = '../img/marilyn-shop-sprite.png';
$social-networks-vk = 9px 29px -9px -29px 25px 25px 311px 83px '../img/marilyn-shop-sprite.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
