/*--------------------------------------
    Sticky footer
--------------------------------------*/
if $sticky-footer

  .flexbox

    body
      display: flex
      min-height: 100vh
      flex-direction: column

    .page-main
      flex: 1
